<div class="container">
  <h2>Settings</h2>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="exampleInputEmail1">NewsAPI.org</label>
      <input type="text" class="form-control" id="apikey" aria-describedby="apiHelp" formControlName="apiKey">
      <small id="emailHelp" class="form-text text-muted">Please enter the API Key from newsapi.org</small>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex justify-content-start">
          <button class="btn btn-dark" [routerLink]="['/countries']">Back</button>
          <button class="btn btn-danger" (click)="deleteAPIKey()" [disabled]="form.invalid">Delete</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <button class="btn btn-success" (click)="addAPIKey()" [disabled]="form.invalid">Add</button>
        </div>
      </div>
    </div>
      
  </form>
</div>
